@model SmartFinance.Models.Compte

@{
    ViewData["Title"] = "Détails du compte";
}

<h2>Détails du Compte</h2>
<div class="card mt-3">
    <div class="card-body">
        <p class="card-title">@Model.Nom</p>
    <p><strong>Institution :</strong> @Model.Institution</p>
        <p class="card-text"><strong>Solde :</strong> @Model.Solde</p>
        <p class="card-text"><strong>Type Compte :</strong> @Model.TypeCompte</p>
    </div>
</div>

<div class="mt-3">
    <a asp-controller="Compte" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifier</a>
    <a asp-controller="Compte" asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>